--extra-index-url https://download.pytorch.org/whl/cpu

Flask==3.0.3
gunicorn==22.0.0

torch
torchvision

ultralytics==8.3.0
opencv-python-headless==4.10.0.84
numpy==1.26.4
Pillow==10.4.0
